@import '../../styles/colors';

.button {
    background-color: #fff;
    border: 1px solid #999;
    padding: 1.125rem;
    display: inline-block;
    align-self: flex-end;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0.5rem;

    &:hover {
        background-color: $main;
        border: 1px solid $main;
        color: $backround;
    }
}
