// general colors
$backround: #D7DFE0;
$main: #2E3138;

// alert messages
$alert: #A63446;
$alert-background: rgb(228, 169, 169);

// navaigation bar
$nav-main: #D7DFE0;
$nav-background: #4C8577;
$nav-background-selected: #C76D7E;
$nav-color-selected: #D7DFE0;

// chart box
$chart-box-dark-1: #1D3557;
$chart-box-light-1: #E09F3E;

$chart-box-dark-2: #E26D5A;
$chart-box-light-2:  #2A2B2A;

$chart-box-dark-3: #353535;
$chart-box-light-3: #F18F01;

